.cards {
  width: 100%;
  display: flex;
}

.home {
  display: flex;
  align-items: center;
}

.home-result-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 20px;
  /* height: 100%; */
}

.MuiCard-root {
  background-color: black !important;
  box-shadow: none !important;
  /* Remove drop shadow */
  border: 1px solid rgba(162, 162, 162, 0.673) !important;
  color: rgb(223, 223, 223) !important;
}

.feed-container {
  display: flex;
  height: 95vh;
  overflow-y: auto;
  background-color: rgb(4, 4, 4);
  color: rgb(223, 223, 223);
  border-bottom: 1px solid rgb(223, 223, 223);
}

.filter {
  display: flex !important;
  justify-content: space-between !important;
}

.gap {
  padding: 3em;
}

.dashboard-card {
  width: 90%;
  min-width: 300px;
}
